[package]
name = "gateway-rs"
description = "Helium Gateway for LoRa packet forwarders"
version = "1.0.0-alpha.23"
authors = ["Marc Nijdam <marc@helium.com>"]
edition = "2021"
license = "Apache-2.0"

[[bin]]
name = "helium_gateway"
path = "src/main.rs"
doc = false

[workspace]
members = ["lorawan"]


[dependencies]
structopt = "0"
semver = "0"
config = {version="0", default-features=false, features=["toml"]}
serde = {version = "1", features = ["rc"]}
serde_derive = "1"
serde_json = "1"
serde_urlencoded = "*"
http-serde = "1"
tokio = { version = "1", default-features=false, features=["fs", "macros", "signal", "rt", "process", "time"] }
tokio-stream = {version = "0", features = ["fs"] }
futures = "*"
triggered = "0.1"
slog = "2"
slog-async = "2"
slog-term = "2"
slog-syslog = "0"
slog-scope = "4"
slog-stdlog = "4"
thiserror = "1.0"
base64 = "0"
rand = "0.8"
prost = "0"
daemonize = "0.4"
tonic = "0"
http = "*"
log = "0"
bytes = "*"
xxhash-c = "0.8"
xorf = "0.7"
sha2 = "0"
signature = "*"
async-trait = "0"
angry-purple-tiger = "0"
lorawan = { package = "lorawan", path = "lorawan" }
exponential-backoff = {git = "https://github.com/yoshuawuyts/exponential-backoff", branch = "master"}
semtech-udp = { version = ">=0.9.4,<1", default-features=false, features=["server"] }
helium-proto = { git = "https://github.com/helium/proto", branch="master", features=["services"]}
helium-crypto = { git = "https://github.com/helium/helium-crypto-rs", tag = "v0.3.4", features = ["ecc608"]}
longfi = { git = "https://github.com/helium/longfi-rs", branch = "main" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
#debug = true
#strip = "debuginfo"
strip = "symbols"

