cargo-features = ["strip"]

[package]
name = "gateway-rs"
description = "Helium Gateway for LoRa packet forwarders"
version = "1.0.0-alpha.10"
authors = ["Marc Nijdam <marc@helium.com>"]
edition = "2018"
license = "Apache-2.0"

[[bin]]
name = "helium_gateway"
path = "src/main.rs"
doc = false

[workspace]
members = ["lorawan"]


[dependencies]
structopt = "0"
semver = "0"
config = {version="0", default-features=false, features=["toml"]}
serde = "1"
serde_derive = "1"
serde_json = "1"
tokio = { version = "1", default-features=false, features=["macros", "signal", "rt", "process"] }
futures = "*"
triggered = "0.1"
slog = "2.7"
slog-async = "2.5"
slog-term = "2.6"
slog-syslog = "0.12"
slog-scope = "4.3"
thiserror = "1.0"
base64 = "0"
rand = "0.8"
prost = "0.7"
daemonize = "0.4"
tonic = "0"
http = "*"
log = "0.4"
bytes = "*"
xxhash-c = "0.8"
xorf = "0.7"
angry-purple-tiger = "0"
lorawan = { package = "lorawan", path = "lorawan" }
semtech-udp = { version = "0", default-features=false, features=["server"] }
helium-proto = { git = "https://github.com/helium/proto", branch="master", features=["services"]}
helium-crypto = { git = "https://github.com/helium/helium-crypto-rs", tag = "v0.2.1"}
longfi = { git = "https://github.com/helium/longfi-rs", branch = "main" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
#debug = true
#strip = "debuginfo"
strip = "symbols"
