{erl_opts, [
            debug_info
           ]}.


{plugins, [
    { rebar3_rust, ".*", {git, "https://github.com/goertzenator/rebar3_rust", {branch, "master"}}}
]}.

{provider_hooks, [
    {post, [
        {compile, {rust, build}},
        {clean, {rust, clean}},
        {eunit, {rust, test}}
    ]}
]}.
